Solution_trilbone2014/nopRestClient/XML_trilbone/labelinfo_gerastos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="LABELINFO">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:int" use="required" />
                <xs:attribute name="group" type="xs:string" use="required" />
                <xs:attribute name="treename" type="xs:string" use="required" />
                <xs:attribute name="rootnode" type="xs:string" use="required" />
                <xs:attribute name="nodeid" type="xs:unsignedShort" use="required" />
                <xs:attribute name="order" type="xs:unsignedByte" use="required" />
                <xs:attribute name="lang" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="LABEL">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="NODE">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="NODEID">
                      <xs:complexType>
                        <xs:attribute name="labelinfoid" type="xs:int" use="required" />
                        <xs:attribute name="nodeid" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="order" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="treename" type="xs:string" use="required" />
                  <xs:attribute name="rootnode" type="xs:string" use="required" />
                  <xs:attribute name="combined" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required" />
            <xs:attribute name="group" type="xs:string" use="required" />
            <xs:attribute name="lang" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>