Solution_trilbone2014/nopRestClient/XML_trilbone/моеописание_gerastos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ELEMENT">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="NODE">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" name="DESCRIPTION" type="xs:string" />
                    <xs:element minOccurs="0" name="LINKS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="LINK">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="NODEID">
                                  <xs:complexType mixed="true">
                                    <xs:attribute name="value" type="xs:unsignedShort" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="treename" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="INFO" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="order" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="nodeid" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="filename" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="root" type="xs:string" use="required" />
            <xs:attribute name="lang" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>