Solution_trilbone2014/MyTrees/HierXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:trb="http://www.trilbone.com"
           targetNamespace="http://www.trilbone.com">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HierObj">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
              <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"  />
              <xs:element name="nameRUS" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="descr" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="descrRUS" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="info" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="fullpath" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="image" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
              <xs:element name="links" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>