Solution_trilbone2014/Service/UserPermission.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="USER">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="WOKER">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="OFFICEACCESS">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="ACCESS">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="COMPUTER">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="product" type="xs:string" use="required" />
                        <xs:attribute name="resource" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PHISYCALACCESS">
                      <xs:complexType>
                        <xs:attribute name="room" type="xs:string" use="required" />
                        <xs:attribute name="roomid" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="timelimitfrom" type="xs:time" use="optional" />
                        <xs:attribute name="timelimitto" type="xs:time" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="officename" type="xs:string" use="required" />
                  <xs:attribute name="role" type="xs:string" use="required" />
                  <xs:attribute name="roletype" type="xs:string" use="optional" />
                  <xs:attribute name="sidkey" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="pin" type="xs:string" use="required" />
            <xs:attribute name="pass" type="xs:string" use="required" />
            <xs:attribute name="role" type="xs:string" use="required" />
            <xs:attribute name="mcuuid" type="xs:string" use="optional" />
            <xs:attribute name="roletype" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>