Solution_trilbone2014/Photo_reader/XMLFossilData2011.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DESCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LOCALITYS">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="COUNTRY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="lg" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="REGION">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="lg" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="FORMATION" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="lg" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="Locality">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="lg" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AGES">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PERIOD" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="lg" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="STAGE" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="lg" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="HORIZON" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="lg" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="INDEX" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="REMARKS">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="REMARK1">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="lg" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SPECIES">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ITEM">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="RECONSTRUCTION">
                      <xs:complexType>
                        <xs:attribute name="uri" type="xs:string" use="required" />
                        <xs:attribute name="image" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DESCR" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="LANG" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="lg" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>